## 1. In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.
*
&#39;hello&#39;
-87.8
-
/
+
6

In [1]:
x='hello'
print(type(x))

<class 'str'>

In [2]:
x=-87.8
print(type(x))

<class 'float'>

In [3]:
x=-5
print(type(x))

<class 'int'>

In [5]:
x=2/5
print(type(x))

<class 'float'>

## 2. What is the difference between string and variable?

In [6]:
getting_hello= "hello divyansh"

In [7]:
print(getting_hello)

hello divyansh

## 3. Describe three different data types.

In [8]:
num=2233
print(type(num))

<class 'int'>

In [10]:
num_1=2/5
print(num_1)

0.4

In [11]:
print(type(num_1))

<class 'float'>

In [12]:
name="hello"
print(type(name))

<class 'str'>

## 4. What is an expression made up of? What do all expressions do?

In [13]:
a=5
b=6
result=a+b

In [14]:
print(result)

11

In [15]:
name="divyansh"
result="hello"+name
print(result)

hellodivyansh

## 5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

In [16]:
name="divyansh" #expression
num1=2+3 #expression
print(name) #statement
print(num1) #statement

divyansh
5

## 6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

In [18]:
bacon=22
result=bacon+1
print("bacon", result)

bacon 23

## 7. What should the values of the following two terms be?
&#39;spam&#39; + &#39;spamspam&#39;
&#39;spam&#39; * 3

In [19]:
a="spam"
b="spamspam"
c=3
result1=a+b
result2=a*c
print("+", result1)
print("*", result2)

+ spamspamspam
* spamspamspam

## 8. Why is eggs a valid variable name while 100 is invalid?

In [20]:
# 100 is not an alphabatical value and not starting from _ so 100 is invalid and egg is valid because it starting from alphabatical values

## 9. What three functions can be used to get the integer, floating-point number, or string version of a value?

In [21]:
num=8.5
print(type(num))

<class 'float'>

In [22]:
num=int(8.7)
print(num)
print(type(num))

8
<class 'int'>

In [24]:
num=str(8.5)
print(num)
print(type(num))

8.5
<class 'str'>

In [26]:
num=float(11)
print(num)
print(type(num))

11.0
<class 'float'>

## 10. Why does this expression cause an error? How can you fix it?
&#39;I have eaten &#39; + 99 + &#39; burritos.&#39;

In [28]:
a='I have eaten ' + str(99) + ' burritos.'
print(a)

I have eaten 99 burritos.